<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>Explosion Addin</Name><AddInID>{7d4a3358-37bc-4be9-ac79-fe4608681194}</AddInID><Description>Explosion addin</Description><Version>0.1</Version><Image>Images\5ba126df3cccd120008b4568-750-563.png</Image><Author>ksuchak</Author><Company>University of Nowhere</Company><Date>02/14/2019</Date><Targets><Target name="Desktop" version="10.1" /></Targets><AddIn language="PYTHON" library="addin_addin.py" namespace="addin_addin"><ArcMap>
    <Commands>
        <Button caption="Explosion Assessment" category="Explosion Addin" class="ExplosionButtonClass" id="addin_addin.explosionbutton" image="" message="" tip="Explosions. Yay."><Help heading="" /></Button>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="Model Toolbar" category="Explosion Addin" id="addin_addin.modeltoolbar" showInitially="true"><Items><Button refID="addin_addin.explosionbutton" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>