<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>Crime toolbar</Name><AddInID>{81a2624b-4e25-4d34-80d7-112c45d22680}</AddInID><Description>New Addin</Description><Version>0.1</Version><Image /><Author>ksuchak</Author><Company>UoN</Company><Date>02/14/2019</Date><Targets><Target name="Desktop" version="10.1" /></Targets><AddIn language="PYTHON" library="addin_addin.py" namespace="addin_addin"><ArcMap>
    <Commands>
        <Button caption="Risk calculation" category="Crime toolbar" class="RiskButton" id="addin_addin.RiskButton" image="" message="" tip=""><Help heading="" /></Button>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="Burglary tools" category="Crime toolbar" id="addin_addin.BurglaryToolbar" showInitially="true"><Items><Button refID="addin_addin.RiskButton" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>